header.header 
            h3.logo LOGO 
            nav 
                ul.nav-link 
                    li  
                        i.fas.fa-home   
                        a(href="/") home
                    li 
                        i.fas.fa-envelope
                        a(href="/contact") Contact 
                    li 
                        i.fas.fa-address-card
                        a(href="") About